<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kicker Interactive Kaderplaner 2024/25</title>
    <link href="/dist/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        @media (max-width: 768px) {
            /* Schriftgröße verkleinern */
            #playersTable th, #playersTable td {
                font-size: 12px;
            }
    
            /* Verein und Erwartete Punkte pro Spiel Spalten ausblenden */
            #playersTable th:nth-child(2), #playersTable td:nth-child(2),
            #playersTable th:nth-child(5), #playersTable td:nth-child(5) {
                display: none;
            }
        }
    </style>
</head>
<body class="bg-gray-100 p-6">      
    <h1 class="text-3xl font-bold mb-4 text-center">Kicker Interactive Kaderplaner 2024/25</h1>
    
    <form id="playersForm" class="bg-white p-6 rounded-lg shadow-md mx-auto max-w-sm px-8">
        <div class=" mb-4">
            <label for="min_expected_points" class="block text-sm font-medium text-gray-700">Minimum Punkte:</label>
            <input type="number" min="0" max="500" value="160" id="min_expected_points" name="min_expected_points" required class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        </div>
        <div class="mb-4">
            <label for="max_market_value" class="block text-sm font-medium text-gray-700">Maximaler Marktwert:</label>
            <input type="number" min="500000" max="8500000" value="4000000" step="100000.0" id="max_market_value" name="max_market_value" required class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        </div>
        <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700">Position:</label>
            <div class="mt-1">
                <label class="inline-flex items-center">
                    <input type="radio" name="position" value="GOALKEEPER" required class="form-radio text-indigo-600">
                    <span class="ml-2">Torwart</span>
                </label>
            </div>
            <div class="mt-1">
                <label class="inline-flex items-center">
                    <input type="radio" name="position" value="DEFENDER" required class="form-radio text-indigo-600">
                    <span class="ml-2">Abwehr</span>
                </label>
            </div>
            <div class="mt-1">
                <label class="inline-flex items-center">
                    <input type="radio" name="position" value="MIDFIELDER" required class="form-radio text-indigo-600">
                    <span class="ml-2">Mittelfeld</span>
                </label>
            </div>
            <div class="mt-1">
                <label class="inline-flex items-center">
                    <input type="radio" name="position" value="FORWARD" required class="form-radio text-indigo-600">
                    <span class="ml-2">Sturm</span>
                </label>
            </div>
        </div>
        <button type="submit" class="bg-red-600 text-white py-2 px-4 rounded-md shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Berechnen</button>
    </form>
    <div class="mb-4 mt-6 text-center text-xs text-gray-400">
        <p>Die Vorhersage basiert auf einer Umrechnung von <a href="https://www.ligainsider.de" target="_blank" class="text-indigo-600 hover:underline">ligainsider.de</a> Daten und kann lediglich eine Orientierung für die Kaderplanung sein. Version 1.2.0</p>
    </div>

    <input type="text" id="searchInput" onkeyup="filterTable()" placeholder="Suche ..." class="mt-6 block px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" style="display: none;">
    <table id="playersTable" class="min-w-full divide-y divide-gray-200 mt-6" style="display: none;">
        <thead class="bg-gray-50">
            <tr>
                <th onclick="sortTable(0)" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Name <i class="fas fa-sort"></i>
                </th>
                <th onclick="sortTable(1)" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Verein <i class="fas fa-sort"></i>
                </th>
                <th onclick="sortTable(2)" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Marktwert <i class="fas fa-sort"></i>
                </th>
                <th onclick="sortTable(3)" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Punkte Vorhersage (Saison) <i class="fas fa-sort"></i>
                </th>
                <th onclick="sortTable(4)" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Punkte Aktuell (20 Spieltage) <i class="fas fa-sort"></i>
                </th>
                <th onclick="sortTable(5)" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Punkte Vorhersage (pro Spielag) <i class="fas fa-sort"></i>
                </th>
                <th onclick="sortTable(6)" title="Gesamtpunkte / absolvierte Spieltage" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Punkte aktuell (pro Spieltag) <i class="fas fa-sort"></i>
                </th>
                <th onclick="sortTable(7)" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Performance <i class="fas fa-sort"></i>
                </th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            <!-- Dynamisch generierte Zeilen werden hier eingefügt -->
        </tbody>
    </table>

    <script>
        document.getElementById('playersForm').addEventListener('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            fetch('/top-players', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                var tableBody = document.querySelector('#playersTable tbody');
                tableBody.innerHTML = '';
                if (data.length > 0) {
                    document.getElementById('searchInput').style.display = 'block';
                } else {
                    document.getElementById('searchInput').style.display = 'none';
                }
                data.forEach(player => {
                    var row = `<tr>
                        <td class="px-6 py-4 whitespace-nowrap">${player['Angezeigter Name']}</td>
                        <td class="px-6 py-4 whitespace-nowrap">${player['Verein']}</td>
                        <td class="px-6 py-4 whitespace-nowrap">${player['Marktwert']}</td>
                        <td class="px-6 py-4 whitespace-nowrap">${player['Expected_Points_Kicker']}</td>
                        <td class="px-6 py-4 whitespace-nowrap">${player['Current_Points_Kicker']}</td>
                        <td class="px-6 py-4 whitespace-nowrap">${player['Expected_Points_Per_Game_Kicker']}</td>
                        <td class="px-6 py-4 whitespace-nowrap">${player['Current_Points_Per_Game_Kicker']}</td>
                        <td class="px-6 py-4 whitespace-nowrap">${player['Performance']}</td>
                    </tr>`;
                    tableBody.innerHTML += row;
                // Rufen Sie diese Funktion auf, nachdem Sie Daten zur Tabelle hinzugefügt haben
                checkTableData();  
                });
            });
        });

        function checkTableData() {
            var table = document.getElementById("playersTable");
            var tbody = table.getElementsByTagName("tbody")[0];
            if (tbody.rows.length > 0) {
                table.style.display = "table";
            } else {
                table.style.display = "none";
            }
        }
    
        function filterTable() {
            var input, filter, table, tr, td, i, j, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("playersTable");
            tr = table.getElementsByTagName("tr");
    
            for (i = 1; i < tr.length; i++) {
                tr[i].style.display = "none";
                td = tr[i].getElementsByTagName("td");
                for (j = 0; j < td.length; j++) {
                    if (td[j]) {
                        txtValue = td[j].textContent || td[j].innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            break;
                        }
                    }
                }
            }
        }
    
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("playersTable");
            switching = true;
            dir = "asc"; 
            while (switching) {
                switching = false;
                rows = table.rows;

                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    if (dir == "asc") {
                        if (parseFloat(x.innerHTML) > parseFloat(y.innerHTML)) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (parseFloat(x.innerHTML) < parseFloat(y.innerHTML)) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount++;
                } else {
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
            updateSortIcons(n, dir);
        }
    
        function updateSortIcons(columnIndex, direction) {
            var headers = document.querySelectorAll('#playersTable th');
            headers.forEach((header, index) => {
                var icon = header.querySelector('i');
                if (icon) {
                    if (index === columnIndex) {
                        icon.className = direction === 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down';
                    } else {
                        icon.className = 'fas fa-sort';
                    }
                }
            });
        }
    </script>

</body>
</html>